page-task {
    ion-content{
    background-image: url("../../assets/imgs/workicon-014.jpg");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        button{
            text-align: center;
            right: 130px;
            top: 200px;
        }
    }
}
